.rowContainer {
    height: 30px;
    background-color: bisque;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid rgb(247, 168, 72);
    margin-bottom: 15px;
}