.navigation-link a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navLink {
  display: flex;
  width: 80px;
  height: 40px;
  justify-content: center;   
  align-items: center;    
  border-radius: 5px;
}

.navLink:hover {
  background-color: #1E647D;
}