.navigation-link {
    display: flex;
    align-items: center;
  }
  
.navigation-link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navLink {
  display: flex;
  width: 80px;
  height: 40px;
  justify-content: center;   
  align-items: center;    
  border-radius: 5px;
}
.navLink:hover {
  background-color: #C88D94;
}