.detailedBubble {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubbleDescription {
    width: 40%;
    text-align: center;
}

.detailedBubble h1 {
    margin: 50px auto 30px auto;
}