.navigation-bar {
    height: 150px;
    background-color: #ffb0a1;
    padding-bottom: 20px;
}

.navigation-bar img {
    width: 100px;
    height: 100px;
}

.navigation-links {
    display: flex;
    justify-self: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 5px;
}