@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/josefinsans/v25/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_N_XbMZhKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nanumgothic/v21/PN_3Rfi-oW3hYwmKDpxS7F_D-djb.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nanumgothic/v21/PN_oRfi-oW3hYwmKDpxS7F_LQv3LyVsj.ttf) format('truetype');
}
body {
  display: grid;
}
main {
  display: grid;
  grid-template-areas: "primary-nav" "secondary-nav" "cities" "banner-area" "footer";
}
#right-aside {
  display: none;
}
#right-aside-inside {
  display: none;
}
#primary-nav {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #F283B6;
  border-bottom: 8px solid #E06C9F;
  grid-area: primary-nav;
}
#primary-nav img {
  width: 200px;
}
#secondary-nav {
  display: grid;
  align-items: center;
  font-family: 'Josefin Sans';
  justify-items: center;
  background-color: #EDBFB7;
  grid-area: secondary-nav;
}
#secondary-nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 35px;
}
#secondary-nav ul li a,
#banner h1 {
  font-size: 1.5em;
  color: #FFFFFF;
}
.cities {
  display: grid;
  grid-area: cities;
}
.cities li {
  display: grid;
  border: 2px solid #E06C9F;
}
.cities li .city-img {
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-area {
  display: grid;
  grid-area: banner-area;
}
.city-previews {
  display: grid;
}
.city-previews li {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}
#banner {
  display: grid;
  justify-items: center;
}
footer {
  background-color: #F283B6;
  border-top: 8px solid #E06C9F;
  grid-area: footer;
}
/* Desktop */
@media screen and (min-width: 1196px) {
  body {
    grid-template-areas: "main right-aside";
    grid-template-columns: auto 250px;
  }
  #right-aside {
    display: grid;
    justify-items: center;
    grid-template-rows: 0.25fr 1fr;
    border-left: 8px solid #6E9887;
    grid-area: right-aside;
    background-color: #B5BFA1;
  }
  #right-aside img {
    margin-top: 20px;
    width: 150px;
  }
  #right-aside p {
    text-align: center;
    width: 50%;
    hyphens: auto;
    color: #FFFFFF;
  }
  main {
    grid-template-rows: 1.2fr 0.5fr 2.9fr 2.5fr 0.5fr;
    grid-area: main;
  }
  .cities {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cities li {
    padding: 5px;
    grid-template-rows: 0.3fr 0.3fr;
    justify-items: center;
  }
  .cities li .city-img {
    margin-top: 5px;
    height: 150px;
    width: 250px;
    background-size: 250px 150px;
  }
  .cities .text-wrapper {
    margin-top: 10px;
    width: 250px;
  }
  .cities h2 {
    font-size: 2em;
  }
  .cities p {
    margin-top: 0;
    font-size: 12px;
    text-align: left;
  }
  .banner-area {
    align-items: center;
    justify-items: center;
    background-color: #EDBFB7;
  }
  .city-previews {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
  }
  .city-previews li {
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
  }
  #banner {
    grid-template-rows: 0.2fr 1fr;
    gap: 25px;
  }
}
/* Tablet */
@media screen and (min-width: 480px) and (max-width: 1196px) {
  main {
    grid-template-rows: 2fr 0.8fr 5.5fr 5fr 1fr;
    grid-template-areas: "primary-nav" "secondary-nav" "cities" "banner-area" "footer";
  }
  #secondary-nav ul li a,
  #banner h1 {
    font-size: 2.2em;
    text-align: center;
    font-weight: 500;
  }
  #secondary-nav ul {
    grid-column-gap: 25px;
  }
  .cities {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .cities li {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .cities li:last-child {
    grid-template-columns: 1fr 0.65fr;
    align-items: center;
    justify-items: start;
    grid-column: 1 / span 2;
  }
  .cities li:first-child div,
  .cities li:first-child + li div {
    margin-left: 10px;
    margin-top: 20px;
    padding-right: 5%;
  }
  .cities li:last-child div {
    padding: 0 30px;
  }
  .cities li h2 {
    font-size: min(3vw, 60px);
  }
  .cities li p {
    margin: 0;
    font-size: min(1.7vw, 11px);
    hyphens: auto;
  }
  .cities li:first-child .city-img,
  .cities li:first-child + li .city-img {
    width: 90%;
  }
  .cities li:last-child .city-img {
    height: 80%;
    width: 70%;
    background-position: center;
    order: 2;
  }
  .banner-area {
    grid-template-columns: 1fr 1fr;
  }
  #banner {
    grid-template-rows: 0.4fr 1fr;
    background-color: #EDBFB7;
  }
  #banner h1 {
    align-self: center;
  }
  #banner ul {
    align-self: flex-start;
  }
  #right-aside-inside {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #B5BFA1;
  }
  #right-aside-inside img {
    width: 150px;
  }
  #right-aside-inside p {
    text-align: center;
    align-self: start;
    width: 80%;
    color: #FFFFFF;
  }
  .city-previews {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
  }
  .city-previews li {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-items: center;
    background-size: cover;
  }
}
/* Mobile */
@media screen and (max-width: 480px) {
  #primary-nav {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #F283B6;
    border-bottom: 8px solid #E06C9F;
    grid-area: primary-nav;
  }
  #primary-nav img {
    width: 170px;
    padding: 10px;
  }
  main {
    grid-template-rows: 1.4fr 0.6fr 5.5fr 2.5fr 0.6fr;
  }
  #secondary-nav ul {
    grid-column-gap: 30px;
  }
  .cities {
    grid-template-rows: 1fr 1fr 1fr;
  }
  .cities li {
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    justify-items: center;
    border: 3px solid #E06C9F;
  }
  .cities li:nth-child(2) {
    grid-template-columns: 1fr 0.8fr;
  }
  .cities li div {
    padding: 0 10px;
  }
  .cities .text-wrapper {
    padding-left: 0;
    margin-top: 15px;
  }
  .cities li:nth-child(2) .text-wrapper {
    padding-left: 25px;
  }
  .cities .text-wrapper p {
    font-size: 10px;
  }
  .cities h2 {
    font-size: 1.3em;
  }
  .cities li .city-img {
    height: 110px;
    width: 150px;
    background-position: center;
    background-size: contain;
  }
  .cities li:nth-child(2) .city-img {
    order: 2;
  }
  .banner-area {
    align-items: center;
    justify-items: center;
    background-color: #EDBFB7;
    grid-area: banner-area;
  }
  #banner {
    row-gap: 20px;
  }
  .city-previews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
  }
  .city-previews li {
    width: 80px;
    height: 80px;
    background-size: cover;
  }
}
