.bubbleList {
    display: flex;
    height: 80%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.content {
    padding-left: 20px;
}

.checkoutButton {
    height: 50px;
    width: 130px;
    margin-top: 10px;
}

.prevButton {
    height: 50px;
    width: 150px;
    margin-top: 10px;
}

.topContainer {
    display: flex;
    justify-content: center;
}

.topContainer h1 {
    margin-right: auto;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 300px;
    padding-top: 10px;
    padding-right: 10px;
}

.button-link {
    text-decoration: none;
    color: #FF3B7D;
}
