.bubbleCartItems  {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.infoContainer {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-items: end;
}

.infoContainer h1 {
    margin-right: auto;
}

p {
    margin-right: 20px;
}

.button {
    height: 50px;
    width: 130px;
}