.imageBase {
    margin: 0 auto 0 auto;
    background-size: cover;
    border-radius: 3%;
    box-shadow: 0 0 3px 3px #17120C;
}

.small {
    composes: imageBase;
    width: 200px;
    height: 100px;
}

.medium {
    composes: imageBase;
    width: 400px;
    height: 200px;

}

.large {
    composes: imageBase;
    width: 600px;
    height: 300px;
}

.carouselContainer {
    width: fit-content;
    padding: 30px;
    border-radius: 5%;
    border: 5px solid #CC8655;
    box-shadow: 0 0 5px 5px #CC8655;
    background-color: antiquewhite;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto 0 auto;
    gap: 20px;
}

.btn {
    min-width: 80px;
    min-height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 10%;
    background-color: transparent;
    border: 3px solid #f4af73;
    font-weight: bold;
    cursor: pointer;    
}

.btn:hover {
    background-color: #CA9465;
    box-shadow: 0 0 5px 5px #CC8655;
}

.btn:active {
    background-color: #d4a781;
    box-shadow: 0 0 5px 5px #CC8655;
}