body {
    padding: 0;
    margin: 0;
}
.container {
    padding: 20px;
}
#my-canvas {
    background-color: rgba(155, 155, 155, 0.2);
    box-shadow: 1px 1px 1px;
    margin: 0 auto;
    display: block;
}
.icon, .iconSetting, .setting {
    position: relative;
    font-size: 3.5em;
    float: right;
    width: 80px;
    top: 5px;
    transition: color .5s;
}

.iconSetting, .setting {
    float: left;
}

.setting {
    top: 20px;
    margin-left: 20px;
}

#linebig {
    margin-left: 60px;
}

#color {
    top: 20px;
    margin-left: 50px;
}

.menuInfo {
    margin: 0;
    font-size: 16px;
}
.menuText {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    border: black solid 3px;
    border-radius: 10px;
}

#fill, #clear{
    margin-right: 5px;
}

#font, #quantity, #body {
    display: block;

}

#fonts, #linebig {
    right: 15px;
    margin-top: 0;
}

.icon:hover, .iconSetting:hover {
    color: orange;
    cursor: pointer;
}

.icon.selected, .iconSetting:active  {
    color: yellow;
}



.navbar {
    height: 100px;
    background-color: rgba(50, 100, 200, 0.5);
    border-bottom: solid 6px rgba(50, 100, 200, 1);
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.textfield {
  position: absolute;
  background-color: transparent;
}