.modalParent {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    border-radius: 3%;
    box-shadow: 0 0 5px 5px #F4893D;
}

.closeIcon {
    position: absolute;
    padding: 5px;
    top: 2%;
    right: 2%;
    border-radius: 50%;
    cursor: pointer;    
}

.closeIcon:hover {
    background-color: rgb(182, 158, 128);
}

.closeIcon:active {
    background-color: rgb(225, 205, 181);
}


.line {
    border: 1px solid black;
}

.modalTitle {
    padding: 0;
    margin-bottom: 0;
}

.modalBody {
    margin-top: 0;
}

.modalFooter {
    justify-self: flex-end;
    font-size: 12px;
    font-weight: lighter;
}