/* Here below you should make your changes */
@keyframes static {
    /* Insert your changes */
    from {background-image: url(resources/tv.png),
                            linear-gradient(90deg, #FFFFFF 0px, #FFFFFF 45px, 
                                        #B9B636 45px, #B9B636 90px,
                                        #4BB5B7 90px, #4BB5B7 135px, 
                                        #4DB332 135px, #4DB332 180px,
                                        #A728B1 180px, #A728B1 225px,
                                        #A71D17 225px, #A71D17 270px,  
                                        #0E16B0 270px, #0E16B0 315px, 
                                        #010001 315px, #010001 360px
                                );}
    to {background-image: url(resources/tv.png),
                          linear-gradient(90deg, #FFFFFF 0px, #FFFFFF 45px, 
                                    #010001 45px, #010001 90px, 
                                    #0E16B0 90px, #0E16B0 135px, 
                                    #A71D17 135px, #A71D17 180px,  
                                    #A728B1 180px, #A728B1 225px, 
                                    #4DB332 225px, #4DB332 270px, 
                                    #4BB5B7 270px, #4BB5B7 315px, 
                                    #B9B636 315px, #B9B636 360px
                                );}
}

@keyframes level-1 {
    /* Insert your changes */
    from { background-position: -8px 0, -0.75% 15%; }
    to { background-position: -8px 0, 102% 15%; }
}

@keyframes move-cartridge {
    /* Insert your changes */
    
    0%{

        transform: translate(0px, 0px)perspective(110px) rotateX(45deg) rotateZ(30deg);
      }
    75%{
        opacity: 75%;
    }
    100% {
        transform: translate(70%, -245%)perspective(110px) rotateX(45deg) rotateZ(30deg);
        opacity: 0%;
    }

}

.intro {
    /* Insert your changes */
    background-image: url(resources/tv.png), url(resources/intro.png);
    background-size: cover, 360px 250px;
    background-position: -8px 0, 12% 35%;
    background-repeat: no-repeat;
}

.level-1 {
    /* Insert your changes */
    background-image: url(resources/tv.png), url(resources/stage1.png);
    background-size: cover, 825% 80%;
    background-position: -8px 0, -0.75% 15%;
    background-repeat: no-repeat;
    animation: level-1 20s linear forwards;
}

.static {
    /* Insert your changes */
    background-image: url(resources/tv.png),
                      linear-gradient(90deg, #FFFFFF 0px, #FFFFFF 45px, 
                                    #B9B636 45px, #B9B636 90px,
                                    #4BB5B7 90px, #4BB5B7 135px, 
                                    #4DB332 135px, #4DB332 180px,
                                    #A728B1 180px, #A728B1 225px,
                                    #A71D17 225px, #A71D17 270px,  
                                    #0E16B0 270px, #0E16B0 315px, 
                                    #010001 315px, #010001 360px);
    background-size: cover, 360px 250px;
    background-position: -8px 0, 12% 35%;
    background-repeat: no-repeat;
    animation: static 2s linear infinite;
}

.move-cartridge {
    /* Insert your changes */
    animation : move-cartridge 2s forwards;
}

#television {
    height: 350px;
    width: 490px;
    margin: 0 auto;
}

#nes-console {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url(resources/nes.png) ;
    background-size: cover;
}

#nes-cartridge {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 250px;
    bottom: 0px;
    background-image:url(resources/contra-cartridge.png);
    background-size: cover;
    transform: perspective(110px) rotateX(45deg) rotateZ(30deg);
}
