.container {
    width: 95%;
    margin: 20px auto 40px auto;
    padding: 4px 4px 20px 4px;
    box-shadow: 0px 0px 20px 5px #CB9976;
    border-radius: 20px;
    background-color: #F8EDD3;
}

.items {
    display: flex;
}

h2, p {
    margin-left: 20px;
}