.navigation-bar {
    display: flex;
    height: 80px;
    background-color: #03002E;
    margin-top: 0px;
    justify-content: center;
}

.navigation-links {
    display: flex;
    justify-self: center;
    align-content: center;
    justify-content: center;
    gap: 50%;
    list-style: none;
    padding: 0;
}