.orderProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubbleSmWideContent {
    display: flex;
}

.bubbleSmWideContent img {
    width: 100px;
    height: 100px;
    margin: auto 0;
}

.orderTextContent {
    margin: auto 0;
}