.bossDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.bossItemContainer {
    display: flex;
    height: 80%;
    justify-content: center;
    gap: 3em;
}

.bossItemContainer img {
    height: 25em;    
}

.bossItemContainer div {
    width: 50em;    
}

.buttonContainer {
    display: flex;
    gap: 10em;
}


