.cartoonBase {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.animation {
    composes: cartoonBase;
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}