.datePickerContainer {
    width: 250px;
    min-height: 250px;
    background-color: antiquewhite;
}

.selectorContainer {
    display: flex;
    padding: 5px 0;
    justify-content: space-around;
    align-items: center;
}


.yearContainer {
    composes: selectorContainer;
    background-color: rgb(255, 216, 169);
}

.monthContainer {
    composes: selectorContainer;
    background-color: rgb(225, 148, 54);
}

.dateContainer { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

.dNameContainer { 
    composes: dateContainer;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.dateItemHeader { 
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.dateItemMain { 
    composes: dateItemHeader;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    
}

.btn {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.dateItemMain:hover { 
    background-color: rgb(255, 221, 177);
}

.dateItemMain:active { 
    background-color: rgb(255, 196, 119);
}

.btn:hover {
    background-color: rgb(217, 167, 103);
}

.btn:active {
    background-color: rgb(185, 149, 102);
}

.selected { 
    composes: dateItemMain;
    background-color: rgb(255, 196, 119);
}



