.boardContainer {
    display: flex;
    width: 90%;
    height: 250px;
    margin: 2% auto 0 auto;
    border-radius: 30px;
    background-color: rgba(142, 204, 251, 0.5);
    box-shadow: 0 0 13px 5px #6096F0;
}

.boardContainer img {
    padding: 30px;
}

.boardContainer div {
    width: 76%;
    margin-left: auto;
    padding-right: 30px;
}
